h1,h2,h3,p{
    display: inline !important;
}

.table-title{
    background-color: #a9a9a9 !important;
    color: white !important;
}

.quantidade-estoque{
    width: 11% !important;
}

.modal-inserir{
    width: 876px !important;
    margin-left: -144px !important;
}