table{
    border: 1px solid black
}

a{
    color: white !important;
    opacity: 0.6;
    font-size: 16px;
}

.logo-principal{
  width: 20%;
}

/* .div-titulo{
  border-bottom: 1px solid #ccc;
} */

.titulo-pagina{
  font-size: 20px;
  display: inline;
}

.titulo-pagina-desc{
  opacity: 0.6
}

.menu-lateral{
    height: 100vh !important;
    background-color: #67302A;
    padding: 0rem !important;
    -webkit-box-shadow: 9px 0px 10px -7px rgba(0,0,0,0.56);
-moz-box-shadow: 9px 0px 10px -7px rgba(0,0,0,0.56);
box-shadow: 9px 0px 10px -7px rgba(0,0,0,0.56);

}

.no-row{
    margin-bottom: 0 !important;
}
li{
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    vertical-align: middle !important;
}
li:hover {
    background-color: rgba(0,0,0,0.1);
    transition: 0.6s
}
#nav-mobile{
    margin: 0 !important;
}

@media only screen and (min-width: 993px){
    .container {
        width: 90% !important;
    }
}