<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Texto da pagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Preço</td>
        </tr>
        <% for(var i=0;i<lista.length;i++){ %>
        <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].nome%></td>
            <td><%=lista[i].preco%></td>
        </tr>
        <% } %>
    </table>
</body>
</html>