<div class="row no-row">
    <nav class="menu-geral">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo"><h1>La Motta - Chocolateria</h1></a>
        </div>
    </nav>
    <!-- <nav class="menu">
    </nav> -->
</div>
