<div class="col s12 m4 l3 menu-lateral">
    <ul id="nav-mobile">
        <li class="col s12 m12 l12 center"><a href="/">Home</a></li>
        <li class="col s12 m12 l12 center"><a href="/produtos">Produtos</a></li>
        <li class="col s12 m12 l12 center"><a href="/vendas">Vendas</a></li>
        <li class="col s12 m12 l12 center"><a href="/clientes">Clientes</a></li>
    </ul>   
</div>